{%extends 'main/base.html'%}
{% load static %}
{% block content %}
{{block.super}}
<div class="container-fluid">
    <div class="row">
        {%for profile in profiles%}
        <div class="col-md-4">
            
            <img src="{{profile.profile_pic.url }} " alt="">
           
        </div>
        <br>

        {%endfor%}
    </div>
</div>

<div class="container">
    <h3 style="text-align: center;"> PROJECTS</h3>
    <br>
    <div class="row">
        <div class="col-md-8">
           
            {%for project in projects%}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{project.image.url}} " alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{project.title}} </h5>
                  <p class="card-text"> {{project.description}} </p>
                  <a href="{{project.url}} " class="btn btn-primary">view Project </a>
                </div>
              </div>
            {%endfor%}
        </div>
    </div>
</div>
{%endblock%}